* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.slider-wrapper {
    background-color: #1c1f24;
    width: 90%;
    height: 100%;
    padding: 30px;
    margin: auto;
}

.slider {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.middle {
    margin: auto;
}

.slides {
    display: flex;
    width: 400%;
    row-gap: 20px;
}

.slide {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.slide img {
    display: block;
    width: 100%;
    border-radius: 25px;
    aspect-ratio: 16 / 9;
}

.bar {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #103575;
    transition: all .3s ease;
}

.bar:hover {
    background-color: white;
}

.bar:hover::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1c1f24;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.navigation {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.caption {
    font-size: 1rem;
}

@media (min-width: 900px) {
    .slider-wrapper {
        width: 100%;
        padding: 30px 20% 30px
    }
    .caption {
        font-size: 1.5rem;
    }
}